/* --xs: 576px;
--sm: 768px;
--md: 992px;
--lg: 1200px; */


.root {
  /* align-items: start; */
  box-sizing: border-box;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto;
  /* justify-items: center; */
  padding: 15px;
}

@media screen and  (min-width: 992px) {
  .root {
    grid-template-columns: auto auto;
  }
}