.chart-root {
	border: 1px solid black;
	box-sizing: border-box;
	padding: 10px;
}

.chart-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: calc(100% * 9/16);
}

.chart-container > svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

.chart-container > svg .xAxis .tick text {
	transform: rotate(-10deg) translate(-40px, 0px);
}

.chart-axis {
	shape-rendering: crispEdges;
}

.chart-vis rect {
	shape-rendering: crispEdges;
}

.chart-vis circle, .chart-vis path {
	shape-rendering: geometricPrecision;
}